html,body{
  background-color:#222;
  width: 100%;
  height: 100%;
}

.content{
  width: 100%;
  height: 100%;
}

/*stage --- start*/
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}

/*stage --- end*/

/*image --- start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1800px;
  overflow: hidden;
  background-color: #ddd;
}

.img-figure{
  width: 380px;
  position: absolute;
  height: 300px;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.img-figure.is-inverse{
  transform:rotateY(180deg);
}

figcaption{
  text-align: center;
}

figcaption .img-back{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  padding:20px;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #fff;
}

figcaption .img-title{
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 20px;
}

img{
  width: 340px;
  height: 220px;
}

.img-sec figcaption{
  text-align: center;

}

.img-sec figcaption .img-title{
  margin: 20px 0 0 0;

  color: #a7a0a2;
  font-size: 16px;
}


/*image --- end*/


/*constroller ---start*/
.constroller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;


  text-align: center;
}


/*constroller ---end*/
