html,body{
  background-color:#222;
  width: 100%;
  height: 100%ï¼›
}

.content{
  width: 100%;
  height: 100%;
}

/*stage --- start*/
.stage{
  position: relative;
  width: 100%;
  height: 680px;

}

/*stage --- end*/

/*image --- start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}


/*image --- end*/


/*constroller ---start*/
.constroller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;


  text-align: center;
}


/*constroller ---end*/
